name: Publish

on:
    push:
        branches:
            - 'master'
            - 'legacy_hooks'
        tags:
            - '**'

env:
    ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_USERNAME }}
    ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_PASSWORD }}
    ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_IN_MEMORY_KEY }}
    ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.SIGNING_KEY_ID }}
    ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_PASSWORD }}

jobs:

    publish-hooks:
        runs-on: macos-latest
        timeout-minutes: 60

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Validate Gradle Wrapper
              uses: gradle/wrapper-validation-action@v3

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  distribution: 'zulu'
                  java-version: 21

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v4

            - name: Cache Build Tooling
              uses: actions/cache@v4
              with:
                  path: |
                      ~/.gradle/caches
                      ~/.konan
                  key: ${{ runner.os }}-gradle-${{ hashFiles('*.gradle.kts') }}

            - name: Publish to MavenCentral
              run: ./gradlew :hooks:publishAllPublicationsToMavenCentralRepository
